/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

.logo {
  width: 50px;
  height: 50px;
  margin-left: 65%;
}

a {
  margin-left: 35px;
}

.margen-a {
  margin-left: 50px;
  margin-top: 10px;
}

.centro, p{
  text-align: center;
}

.home1 {
  background-image: url(../assets/images/bg-home.jpg);
  color: white;
  background-size: 1600px 900px;
  background-repeat: no-repeat;
}

.services {
  background-color: #F17C72;
  background-size: contain;

}

.works img{
  display: inline-block;
  width: 400px;
  height: 400px;
}
